body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #linksContainer {
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .message {
    background-color: #e0ffe0;
    border: 1px solid #a0dca0;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 16px;
    direction: rtl;
  
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
